doctype html
<html class="current-page-0">
meta(charset='UTF-8')

title

link(rel="stylesheet",href="styles.css")
script(src="jquery.min.js")
script(src="velocity.min.js")
script(src="scripts.js")

.slider
	.page.page0
		.side-image
			img(src="home-main-image.jpg", alt="")
		.main-text
			h2 Bienvenue dans l’expérience ECHO!
			h3 La Banque Nationale est fière de présenter la Mastercard ECHO, une nouvelle carte de crédit disponible dès le mois d’avril, s’adressant à une clientèle qui désire maximiser ses remises en argent.
			p Découvrez les avantages de la carte en primeur grâce à cette expérience unique en 3D. 
			p En parcourant l’univers ECHO, cliquez sur les articles pour effectuer des achats et ainsi accumuler des remises en argent. La Banque Nationale offrira le montant total des remises accumulées par les participants au Club des petits déjeuners, alors enfilez vos lunettes et profitez d’une séance de magasinage virtuelle!
			p
				.button.button-big.next Découvrez ECHO en 3D
			p Pas de lunettes? Pas de problème. Vous pouvez également visionner l’expérience en 2D.
			p
				.button.next Découvrez ECHO en 2D
	.page.page1.page-visuel
		img(src="bgp1.jpg", alt="").main-bg
		.icon-dollard(style="left: 36%;margin-top: 20.3%;")#id1
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Sac de pommes :<br>
					|5.00$<br>
					strong Ristourne :<br>
					strong 0.15$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 50.7%;margin-top: 20.3%;")#id2
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Fromage parmesan :<br>
					|15.00$<br>
					strong Ristourne :<br>
					strong 0.45$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 65.4%;margin-top: 20.3%;")#id3
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Poulet BBQ :<br>
					|10.00$<br>
					strong Ristourne :<br>
					strong 0.30$<br>
				.icon-dollard-arrow
	.page.page2.page-visuel
		img(src="bgp2.jpg", alt="").main-bg
		.icon-dollard(style="left: 32%;margin-top: 22%;")#id4
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Plein d'essence :<br>
					|65.00$<br>
					strong Ristourne :<br>
					strong 1.95$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 46.3%;margin-top: 22%;")#id5
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Plein d'essence :<br>
					|65.00$<br>
					strong Ristourne :<br>
					strong 1.95$<br>
				.icon-dollard-arrow
		.icon-dollard(style="left: 72.8%;margin-top: 22%;")#id6
			img(src="icon-dollard.png", alt="").icon-dollard-image
			.icon-dollard-popup
				.icon-dollard-textbox
					|Plein d'essence :<br>
					|65.00$<br>
					strong Ristourne :<br>
					strong 1.95$<br>
				.icon-dollard-arrow
	.page.page3.page-visuel
		img(src="bgp3.jpg", alt="").main-bg
		.icon-dollard(style="left: 29%;margin-top: 10%;")#id7
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|DVD Blu-Ray :<br>
							|70$<br>
							strong Ristourne :<br>
							strong 2.10$
						.icon-dollard-arrow
		.icon-dollard(style="left: 42%;margin-top: 6%;")#id8
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Chandail :<br>
							|30$<br>
							strong Ristourne :<br>
							strong 0.90$
						.icon-dollard-arrow
		.icon-dollard(style="left: 55%;margin-top: 7%;")#id9
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Souliers :<br>
							|160$<br>
							strong Ristourne :<br>
							strong 4.80$
						.icon-dollard-arrow
		.icon-dollard(style="left: 50%;margin-top: 18%;")#id10
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Écouteurs :<br>
							|90$<br>
							strong Ristourne :<br>
							strong 2.70$
						.icon-dollard-arrow
		.icon-dollard(style="left: 65%;margin-top: 19%;")#id11
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Équipement de sport :<br>
							|300$<br>
							strong Ristourne :<br>
							strong 9.00$
						.icon-dollard-arrow
		.icon-dollard(style="left: 70%;margin-top: 6%;")#id12
					img(src="icon-dollard.png", alt="").icon-dollard-image
					.icon-dollard-popup
						.icon-dollard-textbox
							|Écran d'ordi :<br>
							|150$<br>
							strong Ristourne :<br>
							strong 4.50 $
						.icon-dollard-arrow


	.page.page4
		.side-image
			img(src="home-main-image.jpg", alt="")
		.main-text
			h2 Bravo! Vous avez accumulé<br>
				strong.ristourne-ammount 0.00$
			h3 Veuillez entrer votre adresse courriel et votre numéro de transit ci-dessous, et la Banque Nationale fera un don équivalent à la somme de votre remise au Club des petits déjeuners. 
			p Tout comme le frais d’adhésion annuel de la carte, ce don ne vous coûtera rien! 
			p
				input(type="email",placeholder="Courriel")
			p
				input(type="text",placeholder="Numéro de transit")
			p
				.button.next Envoyer
	.page.page5
		.side-image
			img(src="home-main-image.jpg", alt="")
		.main-text
			h2 Votre courriel a été envoyé. Merci!
			h3 Revenez jouer aussi souvent que vous le désirez! N’oubliez pas que pour chaque participation, la Banque Nationale fera don du montant de votre remise au Club des petits déjeuners.  
			p La carte de crédit ECHO sera disponible dès le mois d’avril. Les nouveaux clients obtiendront 3 % de remise pendant 3 mois pour les dépenses sur l’essence, l’épicerie et les achats en ligne. Après 3 mois, ils pourront profiter de 1,5 % de remise pour tous les achats de ces catégories, et 1 % de remise sur leurs autres achats. 
			p
				.button Retour à l'accueil
	.page.page6
	.page.page7
	.page.page8
	.page.page9

.header
	.header-top
		a(href="") English
	.header-bottom
		img(src="header-logo-fr.png", alt="")

.ristourne
	.ristourne-title Votre ristourne
	.ristourne-ammount 0.00 $
	.button.button-big Terminer

.footer
	a(href="") Conditions d'utilisation
	a(href="") Politique de confidentialité
	a(href="") Fichiers témoins
	a(href="") L'ABC de la sécurité
	.footer-copy
		| &copy; BANQUE NATIONALE DU CANADA. Tous droits réservés 2016.


.arrow.arrow-prev.prev
.arrow.arrow-next.next

script.
	var position=0;
	var slider=$(".slider")
	var html=$("html")
	var switchSlide=function(){
		slider.velocity({ right: position+"00%" },500)
		var i=10;
		for(;i--;){
			html.removeClass("current-page-"+i)
		}
		html.addClass("current-page-"+position)
	}
	$(".next").click(function(){
		position = Math.min(position+1,9)
		switchSlide();
	})
	$(".prev").click(function(){
		position = Math.max(position-1,0)
		switchSlide();
	})
	

	var ristournes = {
		"id1":0.15,
		"id2":0.45,
		"id3":0.30,
		"id4":1.95,
		"id5":1.95,
		"id6":1.95,
		"id7":2.10,
		"id8":0.90,
		"id9":4.80,
		"id10":2.70,
		"id11":9.00,
		"id12":4.50
	};

	var ristourneTotal = 0;

	$(".icon-dollard").click(function(){
		if(  !$(this).hasClass("clicked")  ){
			var id = $(this).attr("id")
			var ristourne = ristournes[id]
			
			ristourneTotal+=ristourne

			$(".ristourne-ammount").text( (ristourneTotal.toFixed(2))+" $" )

			$(this).addClass("clicked")
		}
	})





























