doctype html
meta(charset='UTF-8')

title

link(rel="stylesheet",href="styles.css")
script(src="jquery.min.js")
script(src="velocity.min.js")
script(src="scripts.js")

.header
	.header-top
		a(href="") English
	.header-bottom
		img(src="header-logo-fr.png", alt="")

.ristourne
	.ristourne-title Votre ristourne
	.ristourne-ammount 10.75 $
	.button.button-big Terminer

.page.page1
	.side-image
		img(src="home-main-image.jpg", alt="")
	.main-text
		h2 Bienvenue dans l’expérience ECHO!
		h3 La Banque Nationale est fière de présenter la Mastercard ECHO, une nouvelle carte de crédit disponible dès le mois d’avril, s’adressant à une clientèle qui désire maximiser ses remises en argent.
		p Découvrez les avantages de la carte en primeur grâce à cette expérience unique en 3D. 
		p En parcourant l’univers ECHO, cliquez sur les articles pour effectuer des achats et ainsi accumuler des remises en argent. La Banque Nationale offrira le montant total des remises accumulées par les participants au Club des petits déjeuners, alors enfilez vos lunettes et profitez d’une séance de magasinage virtuelle!
		p
			.button.button-big Découvrez ECHO en 3D
		p Pas de lunettes? Pas de problème. Vous pouvez également visionner l’expérience en 2D.
		p
			.button Découvrez ECHO en 2D
.page.page2
.page.page3
.page.page4
.page.page5
.page.page6
.page.page7
.page.page8
.page.page9

.footer
	a(href="") Conditions d'utilisation
	a(href="") Politique de confidentialité
	a(href="") Fichiers témoins
	a(href="") L'ABC de la sécurité
	.footer-copy
		&copy; BANQUE NATIONALE DU CANADA. Tous droits réservés 2016.