@font-face {
    font-family: 'meta';
    src: url('font/ufonts.com_meta-medium-roman-webfont.eot');
    src: url('font/ufonts.com_meta-medium-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ufonts.com_meta-medium-roman-webfont.woff2') format('woff2'),
         url('font/ufonts.com_meta-medium-roman-webfont.woff') format('woff'),
         url('font/ufonts.com_meta-medium-roman-webfont.ttf') format('truetype'),
         url('font/ufonts.com_meta-medium-roman-webfont.svg#metamedium_roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'meta';
    src: url('font/ufonts.com_meta-medium-italic-webfont.eot');
    src: url('font/ufonts.com_meta-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ufonts.com_meta-medium-italic-webfont.woff2') format('woff2'),
         url('font/ufonts.com_meta-medium-italic-webfont.woff') format('woff'),
         url('font/ufonts.com_meta-medium-italic-webfont.ttf') format('truetype'),
         url('font/ufonts.com_meta-medium-italic-webfont.svg#metamedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'korolev';
    src: url('font/bnkorolev-bold-webfont.eot');
    src: url('font/bnkorolev-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bnkorolev-bold-webfont.woff2') format('woff2'),
         url('font/bnkorolev-bold-webfont.woff') format('woff'),
         url('font/bnkorolev-bold-webfont.ttf') format('truetype'),
         url('font/bnkorolev-bold-webfont.svg#bnkorolevbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'korolev';
    src: url('font/bnkorolev-bolditalic-webfont.eot');
    src: url('font/bnkorolev-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bnkorolev-bolditalic-webfont.woff2') format('woff2'),
         url('font/bnkorolev-bolditalic-webfont.woff') format('woff'),
         url('font/bnkorolev-bolditalic-webfont.ttf') format('truetype'),
         url('font/bnkorolev-bolditalic-webfont.svg#bnkorolevbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'korolev';
    src: url('font/bnkorolev-light-webfont.eot');
    src: url('font/bnkorolev-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bnkorolev-light-webfont.woff2') format('woff2'),
         url('font/bnkorolev-light-webfont.woff') format('woff'),
         url('font/bnkorolev-light-webfont.ttf') format('truetype'),
         url('font/bnkorolev-light-webfont.svg#bnkorolevlight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'korolev';
    src: url('font/bnkorolev-lightitalic-webfont.eot');
    src: url('font/bnkorolev-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bnkorolev-lightitalic-webfont.woff2') format('woff2'),
         url('font/bnkorolev-lightitalic-webfont.woff') format('woff'),
         url('font/bnkorolev-lightitalic-webfont.ttf') format('truetype'),
         url('font/bnkorolev-lightitalic-webfont.svg#bnkorolevlight_italic') format('svg');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'korolev';
    src: url('font/bnkorolev-medium-webfont.eot');
    src: url('font/bnkorolev-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bnkorolev-medium-webfont.woff2') format('woff2'),
         url('font/bnkorolev-medium-webfont.woff') format('woff'),
         url('font/bnkorolev-medium-webfont.ttf') format('truetype'),
         url('font/bnkorolev-medium-webfont.svg#bnkorolevmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bnkorolevmedium_italic';
    src: url('bnkorolev-mediumitalic-webfont.eot');
    src: url('bnkorolev-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('bnkorolev-mediumitalic-webfont.woff2') format('woff2'),
         url('bnkorolev-mediumitalic-webfont.woff') format('woff'),
         url('bnkorolev-mediumitalic-webfont.ttf') format('truetype'),
         url('bnkorolev-mediumitalic-webfont.svg#bnkorolevmedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}



*
	box-sizing:border-box
body
	margin:0
	height:100%
	//opacity:0.5
html
	background:#F2F3F3
	//background:#F2F3F3 url(mockup-confirm.png) no-repeat
	color:#787878
	height:100%
	min-width:1350px
	font-family:meta
	overflow:hidden

h1,h2,h3,h4,h5,h6
	font-family:korolev
	font-weight:normal

h2
	color:#E00024
	font-size:2em
h3
	color:#00314D
	font-size:21px

input[type=text],input[type=email]{
	color:inherit
	border:solid 1px #BBBBBB
	font-size:inherit
	font-family:inherit
	padding:.5em;
	width:60%
}



.button
	background:#E00024
	color:#fff
	padding:.4em
	display:inline-block
	cursor:pointer
	font-family:korolev
.button:after
	content:" >"
	font-family:meta
.button-big
	font-size:21px
.header
	position:fixed
	width:100%
	top:0
	left:0
.header-top
	height:48px
	text-align:right
	padding-right:80px
	padding-top:18px
	font-size:14px
	a
		color:inherit
		text-decoration:none	
.header-bottom
	background:#E00024
.header-bottom img
	margin-top:-6px
	margin-bottom:-9px
	padding-left:58px

.main-bg
	width:100%
	display:block
.main-caption
	color:#00314D
	text-align:center
	background:#D3D1D2
	font-family:korolev
	padding:80px
	padding-top:0
	font-size:30px
.ristourne
	color:#fff
	background:#00314D
	position:fixed
	top:0
	right:148px
	width:120px
	text-align:center
	padding-top:54px
	transition:.5s
.ristourne .button
	width:100%
	border-top:solid 1px
.ristourne .ristourne-ammount
	font-size:32px
	margin-top:2px
	font-family:korolev
	font-weight:bold
	height:48px
.current-page-0 .ristourne,.current-page-4 .ristourne
	transform:translateY(-170px)
.current-page-0 .ie8 .ristourne,.current-page-4 .ie8 .ristourne
	display:none
.slider
	width:1000%
	position:relative
.page
	height:100%
	width:10%
	float:left
	overflow:hidden
	position:relative
.page-visuel
	padding-top:79px
.main-text
	float:right
	width:50%
	text-align:center
	padding:80px
	height:100%
	position:relative
	padding-top:170px
.side-image
	float:left
	text-align:center
	width:50%
.side-image img
	max-width:100%

.footer
	background:#464747
	padding:14px 80px
	width:100%
	position:fixed
	bottom:0
	left:0
	font-size:12px
	a
		color:inherit
		text-decoration:none
		margin-left:8px
		padding-left:8px
		border-left:solid 1px
		&:first-child
			margin-left:0
			padding-left:0
			border-left:none
.footer-copy
	float:right

.arrow
	position:fixed
	margin:auto 0
	top:0
	bottom:0
	height:70px
	width:70px
	cursor:pointer
	transition:.5s
.arrow-prev
	left:0
	background:url(arrow-prev.png)
.arrow-next
	right:0
	background:url(arrow-next.png)
.current-page-0 .arrow-prev,.current-page-5 .arrow-prev
	transform:translateX(-71px)
.current-page-0 .arrow-next,.current-page-4 .arrow-next,.current-page-5 .arrow-next
	transform:translateX( 71px)
.current-page-0 .ie8 .arrow,.current-page-4 .ie8 .arrow-next,.current-page-5 .ie8 .arrow
	display:none

.icon-dollard
	position:absolute
	top: 80px;
	z-index: 1;
	cursor:pointer;
.icon-dollard.clicked
	cursor:default
.icon-dollard-popup
	position:absolute;
	bottom:45px;
	width:0
	left:-58px
	transform:scale(0)
	transform-origin: 77px 100%
	transition:.3s
.ie8 .icon-dollard-popup
	display:none
.ie8 .icon-dollard:hover .icon-dollard-popup
	display:block
.icon-dollard:hover .icon-dollard-popup
	transform:scale(1)
.icon-dollard-arrow
	border:solid 16px transparent
	border-top-color:#00314D
	border-bottom-width:0
	margin-left: 60px;
.icon-dollard-textbox
	width:154px
	text-align:center
	background:#00314D
	padding:1em 0
	color:#fff
.invisible
	visibility:hidden